<% 
const colorNames = ['logo', 'icon', 'link', 'hover', 'maxed', 'gold', 'skillbar', 'maxedbar'];
%>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="popup.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
</head>

<body>
    <div id="themes-container"></div>
    <div class="button-row">
        <mwc-button id="new-theme" label="new theme" raised></mwc-button>
        <mwc-button id="import-theme" label="import theme" raised></mwc-button>
    </div>
    <template id="theme-form">
        <form>
            <mwc-textfield id="name" type="text" label="Theme Name" outlined>
            </mwc-textfield>
            <mwc-textfield id="author" type="text" autocomplete="name" label="Author" outlined>
            </mwc-textfield>
            <mwc-textfield id="bg" type="url" label="Background" outlined>
            </mwc-textfield>
            <mwc-select id="light" label="Color Scheme" outlined>
                <mwc-list-item value="dark">Dark</mwc-list-item>
                <mwc-list-item value="light">Light</mwc-list-item>
            </mwc-select>
            <% for (const colorName of colorNames) { %>
            <label class="colorInput">
                <span><%= colorName %> color</span>
                <input id="<%= colorName %>-color" type="color">
                <mwc-icon-button id="<%= colorName %>-default" icon="format_color_reset"></mwc-icon-button>
            </label>
            <% } %>
            <div class=button-row>
                <mwc-button id="use-theme" label="use theme" type="button" raised></mwc-button>
                <mwc-button id="delete-theme" label="delete theme" type="button" raised></mwc-button>
                <mwc-button id="export-theme" label="export theme" type="button" raised></mwc-button>
            </div>
        </form>
    </template>
    <script type="module" src="popup.js"></script>
</body>

</html>