<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="popup.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
</head>

<body>
    <div id="themes-container"></div>
    <mwc-button id="new-theme" label="nem theme" raised></mwc-button>
    <template id="theme-form">
        <form>
            <div>
                <mwc-textfield id="name" type="text" label="theme name" outlined>
                </mwc-textfield>
            </div>
            <div>
                <mwc-textfield id="author" type="text" autocomplete="name" label="author" outlined>
                </mwc-textfield>
            </div>
            <div>
                <mwc-textfield id="logo" type="url" label="logo icon" outlined>
                </mwc-textfield>
            </div>
            <div>
                <mwc-textfield id="bg" type="url" label="background" outlined>
                </mwc-textfield>
            </div>
            <div>
                <mwc-textfield id="bg-blur" type="url" label="blurred background (firefox only)" outlined>
                </mwc-textfield>
            </div>
            <% 
            const colorNames = ['icon', 'line', 'link', 'hover', 'maxed', 'gold', 'skillbar', 'maxedbar'];

            for (const colorName of colorNames) {
            %>
            <div>
                <label for="<%= colorName %>-color"><%= colorName %> color:</label>
                <input id="<%= colorName %>-color" type="color">
                <mwc-icon-button id="<%= colorName %>-default" icon="format_color_reset"></mwc-icon-button>
            </div>
            <% } %>
            <div>
                <mwc-button id="use-theme" label="use theme" type="button" raised></mwc-button>
                <mwc-button id="delete-theme" label="delete theme" type="button" raised></mwc-button>
            </div>
        </form>
    </template>
    <script type="module" src="popup.js"></script>
</body>

</html>