<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="themes-container"></div>
    <button id="new-theme">New Theme</button>
    <template id="theme-form">
        <form>
            <div>
                <label for="name">Theme Name:</label>
                <input id="name" type="text" autocomplete="off" required>
            </div>
            <div>
                <label for="author">Author:</label>
                <input id="author" type="text" autocomplete="name" required>
            </div>
            <div>
                <label>Logo Icon:</label>
                <input id="logo" type="url" required>
            </div>
            <div>
                <label for="bg">Background:</label>
                <input id="bg" type="url">
            </div>
            <div>
                <label for="bg-blur">Blurred Background (Firefox Only):</label>
                <input id="bg-blur" type="url">
            </div>
            <% 
            const colorNames = ['icon', 'line', 'link', 'hover', 'maxed', 'gold', 'skillbar', 'maxedbar'];

            for (const colorName of colorNames) {
            %>
            <div>
                <label for="<%= colorName %>-color"><%= colorName %> color:</label>
                <input id="<%= colorName %>-color" type="color">
                <button id="<%= colorName %>-default" type="button">use default</button>
            </div>
            <% } %>
            <div>
                <button id="use-theme" type="button">Use Theme</button>
            </div>
        </form>
    </template>
    <script type="module" src="popup.js"></script>
</body>

</html>