:root {
    --mdc-shape-small: 28px;
}
body {
    margin: 0;
    #themes-container {
        form {
            div {
                margin: 8px;
                white-space: nowrap;
            }
        }
    }
}
